.container{
    /* background: rgb(240, 48, 48); */
    color: rgb(240, 48, 48);
    text-decoration: none;
    margin: 50px ;
    padding: 7px;
    box-sizing:border-box;
    border: 1px solid rgb(240, 48, 48);
    text-shadow: 2xp black;
    font-size: 15px ;
    display: inline-block;
    float: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border-radius: 12px; */
    position: relative;
}
.container::after{
    background: rgb(240, 48, 48);
    /* border-radius: 12px; */
    font-size: 20px ;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.container:hover{
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* background: rgb(240, 48, 48); */
}
.container:hover:after{
    width: 100%;
}


.container1{
    background: rgb(240, 48, 48);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 50px ;
    padding: 7px;
    box-sizing:border-box;
    border: 1px solid rgb(240, 48, 48);
    text-shadow: 2xp black;
    font-size: 15px ;
    display: inline-block;
    float: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border-radius: 12px; */
    position: relative;
}
.container1::after{
    background: rgb(255, 255, 255);
    /* border-radius: 12px; */
    font-size: 20px ;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.container1:hover{
    font-weight: 500;
    color: rgb(240, 48, 48);
    /* background: rgb(240, 48, 48); */
}
.container1:hover:after{
    width: 100%;
}

